{% extends "base.html" %}
{% block content %} 

<div class="d-grid gap-2 col-9 mx-auto mt-5">

	<form class="mt-5" method="POST" autocomplete="on">
		<div class="mb-3 row">
			<label for="username" class="col-sm-2 col-form-label">Username</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="username" id="username" placeholder="Enter Username...">
			</div>
		</div>
		<script>
			if ("{{username}}" != "None") document.getElementById("username").value ="{{username}}";
		</script>
		<div class="mb-3 row">
			<label for="password" class="col-sm-2 col-form-label">Password</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" name="password" placeholder="Enter Password...">
			</div>
		</div>
		<div class="mb-3 row">
			<label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
			<div class="col-sm-10">
				<input type="Password" class="form-control" name="confirmPassword" placeholder="Enter Password again...">
			</div>
		</div>
		<div class="d-grid gap-2 col-3 mx-auto mt-5">
			<button type="submit" name="signup" class="btn btn-primary mb-3">Sign Up</button>
		</div>
	</form>
 </div>

{% endblock %}